@import url('./libs/bootstrap/dist/css/bootstrap.css');

/* @import url('./bootstrap-custom.css'); */
@import url('./libs/font-awesome/css/font-awesome.css');

@import url('./libs/mosaic-ui/app/libs/leaflet/leaflet.css');

@import
	url('./libs/mosaic-ui/app/libs/leaflet.loading/src/Control.Loading.css')
	;

@import
	url('./libs/mosaic-ui/app/libs/leaflet.markercluster/MarkerCluster.css')
	;

@import
	url('./libs/mosaic-ui/app/libs/leaflet.markercluster/MarkerCluster.Default.css')
	;

@import url('./libs/select2/select2.css');

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.full-height {
	height: 100%;
}
/* ----------------------------------------------------- */
/** Toolboxes */
.toolbox {
	position: absolute;
	top: 10px;
	bottom: 10px;
	right: 10px;
	left: 10px;
	overflow-x: hidden;
	border-radius: 3px;
	overflow-y: auto;
}

.toolbox  .toolbox-tabs {
	z-index: 10;
}

.toolbox .toolbox-panel {
	background-color: #eee;
	z-index: 15;
}

.toolbox .toolbox-tabs {
	
}

.toolbox .toolbox-tabs .btn {
	margin: 0.1em 0;
}

/* ----- */
.toolbox.left {
	right: inherit;
}

.toolbox.left .toolbox-panel {
	border-right: 1px solid red;
}

.toolbox.left .toolbox-tabs {
	padding-left: 0px;
	margin-left: -3px;
}

/* ----- */
.toolbox.right {
	left: inherit;
}

.toolbox.right .toolbox-panel {
	border-left: 1px solid red;
}

.toolbox.right .toolbox-tabs {
	padding-right: 0px;
	margin-right: -3px;
}

/* ----------------------------------------------------- */
/** Map zooms */
.zoom-1 .tic-marker {
	width: 3px;
	height: 3px;
	border-radius: 3em;
	background-color: yellow;
	border: 1px solid white;
	opacity: 0.8;
}

.zoom-2 .tic-marker {
	width: 6px;
	height: 6px;
}

.zoom-3 .tic-marker {
	width: 8px;
	height: 8px;
	border: 2px solid white;
}

.zoom-4 .tic-marker {
	width: 10px;
	height: 10px;
}

.zoom-5 .tic-marker {
	width: 12px;
	height: 12px;
}

.zoom-6 .tic-marker {
	width: 14px;
	height: 14px;
}

/* ----- */
.zoom-1 .selected-tic-marker {
	width: 10px;
	height: 10px;
	border-radius: 2em;
	background-color: red;
	border: 3px solid yellow;
	opacity: 0.8;
}

.zoom-2 .selected-tic-marker {
	width: 12px;
	height: 12px;
}

.zoom-3 .selected-tic-marker {
	width: 18px;
	height: 18px;
	border: 4px solid yellow;
}

.zoom-4 .selected-tic-marker {
	width: 24px;
	height: 24px;
}

.zoom-5 .selected-tic-marker {
	width: 32px;
	height: 32px;
}

.zoom-6 .selected-tic-marker {
	width: 36px;
	height: 36px;
}

/* ----- */
.leaflet-container img {
	width: inherit;
	height: inherit;
}

.leaflet-popup-content-wrapper {
	padding: 1px;
	text-align: left;
	border-radius: 2px;
}

.country-selected {
	border-radius: 1em;
	background-color: silver;
}

.country-selected.country-primary {
	background-color: gray;
	color: white;
}